body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: rgb(87, 94, 117);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#game {
  width: 480px;
  height: 360px;
  position: relative;
  text-align: left;
}

#canvas {
  position: absolute;
}

#crosshair {
  pointer-events: none;

  background-image: url("/crosshair.png");
  background-size: cover;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  
  margin: auto;
    
  width: 24px;
  height: 24px;

  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+ */      

}

#debug {
  visibility: hidden;
}

#debug.visible {
  visibility: visible;
}

/* #navigation {
  background-color: rgb(77, 151, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 3px 0px;
  height: 50px;
}

#view {
  background-color: rgb(252, 252, 252);
  margin-top: 50px;
  min-height: 680px;
  min-width: 100%;  
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.preview-row {
  justify-content: space-between;
  margin-top: 16px;
}

.inner {
  min-width: 640px;
  width: 790.2px;
  margin: 0 auto;
}

.project-header {
  justify-content: flex-start;
  margin-right: 2rem;
  min-width: 0px;
  flex-grow: 1;
}

a {
  color: rgb(77, 151, 255);
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

.title {
  flex-grow: 1;
  font-size: 0.8rem;
  margin-left: 1rem;
  text-align: left;
}

.project-title {
  font-size: 28px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.see-inside-button {
  appearance: button;
  background-color: rgb(77, 151, 255);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-top: 0;
  padding-bottom: 0.6875rem;
  padding-left: 0.8375rem;
  padding-right: 0.9375rem;
  padding-top: 0.6875rem;
  text-align: center;
  border: none;
  color: white;
  font-weight: 700;
} */

